body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1520px;
    }
}

.card {
    border-radius: 30px;
    box-shadow: 20px 20px 50px #83144d73 !important;
}

.text-success {
    color: #6cbc00 !important;
}

.form-control.form-control-solid {
    background-color: #f3f3f3;
    border: 1px dashed #eaeaea;
}